* {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;

   //touch-action: pan-x;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	color: $dark-gray--shade;
	font-family: $font-family--primary;
	font-size: em($base__font-size);
	line-height: em($base__line-height, $base__font-size)
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	outline: none;
}


::-webkit-input-placeholder {
   color: $medium-gray--shade;
}

:-moz-placeholder { /* Firefox 18- */
   color: $medium-gray--shade;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $medium-gray--shade;  
}

:-ms-input-placeholder {  
   color: $medium-gray--shade;  
}