.date-filter {
	margin-top: 15px;
	display: inline-block;
	&__icon {
		margin-right: 5px;
		vertical-align: sub;
	}
	&__selection {
		color: $dark-gray--tint;
	}
	&__caret {
		margin-left: 3px;
	}
}

#popup__date-filter {
	position: absolute;
	top: 25%;
	left: 5%;
	width: 90%;
	background: $white;
	h3 {
		margin: 0;
		padding: 10px 15px;
		color: $white;
		background: $dark-gray--shade;
		font-size: em(14px);
		i {
			margin-top: 3px;
		}
	}
	.date-filters {
		&__item {
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: none;
			}
			&--current {
				color: $white;
				background: $blue-jeans--shade;
			}
			a {
				display: block;
				padding: 10px 15px;
				i {
				margin-top: 3px;
				}
			}
		}
	}
}