.multi-transaction {
	width: 600px;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -300px;
	background: $white;
	&__header {
		margin: 0;
		padding: 15px 20px;
		color: $white;
		background: $primary-color;
		font-size: em(15px);
		i {
			margin-top: 3px;
		}
	}
}