.navigation {
	&__item {
		font-family: $font-family--secondary;
		//font-weight: $font-weight--bold;
		line-height: em(40px, 16px);
		&:active {
			background: lighten($black, 10%);
		}
		&--current {
			background: $black;
		}
		a {
			display: block;
			padding: 0 5%;
		}
	}
}