.overview {
	margin-top: 20px;
	&__item {
		.net-worth-value,
		.expense-value,
		.income-value {
			font-size: em(18px);
		}

		.net-worth-value {
			color: $grass--shade;
		}	

		.expense-value {
			color: $grapefruit--shade;
		}	

		.income-value {
			color: $grass--shade;
		}
		&--current {
			span:first-child {
				font-weight: $font-weight--bold;
			}
		}
	}
	
}