<div id="menu" class="collapsed">
	<section id="account">
		<div class="container">
			<img src="images/avatar.jpg" class="ava"/>
			<span>David Hazeland</span>
		</div>
	</section>
	<section class="search">
		<div class="container">
			<input type="search" class="search__input"/>
			<i class="search-icon search__icon"></i>
		</div>
	</section>
	<nav>
		<ul class="navigation">
			<li class="navigation__item">
				<a href="#">Expense</a>
			</li>
			<li class="navigation__item navigation__item--current">
				<a href="#">Income</a>
			</li>
			<li class="navigation__item">
				<a href="#">Dashboard</a>
			</li>
			<li class="navigation__item">
				<a href="#">Contact Us</a>
			</li>
			<li class="navigation__item">
				<a href="#">Sign Out</a>
			</li>
		</ul>
	</nav>
	<p class="copyright">Copyright 2015 by <span>David Hazeland</span></p>
</div>
<div id="feature">
	<header ng-controller="HeaderCtrl">
		<div class="container">
			<a href="#" class="logo"></a>
			<i class="menu-icon" ng-click="toggleMenu()"></i>
			<i class="add-icon"></i>
		</div>	
	</header>
	<section id="content">
		<div class="container">
			<div class="date-filter">
				<span class="date-filter__icon calendar-icon"></span>
				<span class="date-filter__selection">This Month</span>
				<span class="date-filter__caret caret-icon"></span>
			</div>
			<ul class="transaction">
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
				<li class="transaction__item">
					<a href="#">
						<div class="title group">
							<span class="name fl">Lorem ipsum</span>
							<span class="value fr">1000$</span>
						</div>
						<div class="info group">
							<span class="tag fl">new</span>
							<span class="date fr">13 Jul</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
</div>