<menu></menu>
<div id="feature">
	<header-app></header-app>
	<section id="content">
		<div class="container">
			<date-filter></date-filter>
			<total></total>
			<transaction-list></transaction-list>
		</div>
		<div class="container hidden">
			<date-filter></date-filter>
			<overview></overview>
			<tag-dashboard></tag-dashboard>
			<compare-dashboard></compare-dashboard>
		</div>
	</section>
</div>
<div id="popup" class="hidden">
	<date-filter-picker></date-filter-picker>
	<transaction-type></transaction-type>
	<transaction-detail></transaction-detail>
	<multi-transaction></multi-transaction>
</div>
<div id="overlay" class="hidden">
	<save-transaction></save-transaction>
</div>