<div class="popup" ng-show="visibility" ng-controller="FilterPickerCtrl">
	<section class="picker">
		<h3 class="group picker__title">
			SELECT DATE FILTER
			<i class="close-icon fr" ng-click="visibility = false"></i>
		</h3>	
		<ul class="picker-selection">
			<li class="picker-selection__item" ng-click="handleSelectionClick($event)">
				This Week<i class="tick-icon fr"></i>
			</li>
			<li class="picker-selection__item picker-selection__item--current" ng-click="handleSelectionClick($event)">
				This Month<i class="tick-icon fr"></i>
			</li>
			<li class="picker-selection__item" ng-click="handleSelectionClick($event)">
				Last Month<i class="tick-icon fr"></i>
			</li>
			<li class="picker-selection__item" ng-click="handleSelectionClick($event)">
				This Year<i class="tick-icon fr"></i>
			</li>
			<li class="picker-selection__item" ng-click="handleSelectionClick($event)">
				Last Year<i class="tick-icon fr"></i>
			</li>
		</ul>
	</section>
</div>