	<table class="transaction">
				<thead class="is-expanded-desktop">
					<tr>
						<th class="name">Name</th>
						<th class="amount">Amount</th>
						<th class="tag">Tag</th>
						<th class="date">Date</th>
					</tr>
				</thead>
				<tbody class="transaction__content">
					<tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" class="group">
						<td class="name">Lorem Ipsum</td>
						<td class="amount">100$</td>
						<td class="tag">new, salary</td>
						<td class="date">13 Jul 1993</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">
							<a href="#">LOAD MORE</a>
						</td>
					</tr>
				</tfoot>
			</table>