#content {
	//margin-top: 56px;
	background-color: $white;
	padding-bottom: 20px;
	.total {
		float: right;
		margin-top: 15px;
		color: $grass--shade;
		font-size: em(18px);
		&:before {
			content: '+';
		}
	}
}