header {
	height: 56px;
	background: $primary-color;
	text-align: center;
	//position: fixed;
	top: 0;
	width: 100%;
	.title {
		color: $white;
		font-size: em(18px);
		line-height: 56px;
	}
	.menu-icon {
		float: left;
		margin-top: 18px;
	}
	.add-icon {
		float: right;
		margin-top: 15px;
	}
	@include mq(large) {
		text-align: left;
		.search {
			float: left;
		}
		a {
			border: none;
			background: none;
			color: white;
			font-size: em(18px);
			margin-top: 14px;
			.add-circle-icon {
				float: none;
				margin-top: 0px;
				margin-right: 7px;
				vertical-align: text-bottom;
			}
		}
	}
}