// ===================================
// Global Config
// ===================================

// Font Stacks

$font-url--google			: "http://fonts.googleapis.com/css?family=Open+Sans:700,400|Quicksand:400,700";

$font-family--primary		: 'Open Sans', sans-serif;
$font-family--secondary		: 'Quicksand', sans-serif;
// Font Weights

$font-weight--normal		: 400;
$font-weight--bold 			: 700;

// Descriptive Base Colors

$white 					: #fff;
$black 					: #222;

$grapefruit--tint		: #ed5565;
$grapefruit--shade		: #da4453;

$bittersweet--tint 		: #fc6e51;
$bittersweet--shade 	: #e9573f;

$sunflower--tint		: #ffce54;
$sunflower--shade		: #f6bb42;

$grass--tint			: #a0d468;
$grass--shade			: #8cc152;

$mint--tint				: #48cfad;
$mint--shade			: #37bc9b;

$aqua--tint				: #4fc1e9;
$aqua--shade			: #3bafda;

$blue-jeans--tint		: #5d9cec;
$blue-jeans--shade		: #4a89dc;

$lavander--tint			: #ac92ec;
$lavander--shade		: #967adc;

$pink-rose--tint		: #ec87c0;
$pink-rose--shade		: #d880ad;

$light-gray--tint		: #f5f7fa;
$light-gray--shade		: #e6e9ed;

$medium-gray--tint		: #ccd1d9;
$medium-gray--shade		: #aab2bd;

$dark-gray--tint		: #656d78;
$dark-gray--shade		: #434a54;

// Color useage

$primary-color			: $blue-jeans--shade;
$accent-color			: $dark-gray--tint;
$income-clor			: $grass--shade;
$expense-clor			: $grapefruit--shade;

// Text

$base__font-size		: 16px;
$base__line-height		: 24px;

// Path to Assets

$path--rel				: "../images";

// Breakpoints

$brkpoint--sm    		: 1px;
$brkpoint--md    		: 768px;
$brkpoint--lg    		: 1100px;

$max-width				: 1170px;







