// ===================================
// Image replace
// ===================================

@mixin img-replace($url, $w, $h, $d : block) {
  background-image: url(#{$path--rel}/#{$url});
  width: $w;
  height: $h;
  display: $d;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

// ===================================
// Media query
// ===================================

@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint--sm) and (max-width: $brkpoint--md) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint--md + 1){
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint--lg) {
      @content;
    }
  }
  @else {
    @error "No value could be retrieved for `#{$break}`. "
  }
}