<section id="popup__date-filter" class="picker">
	<h3 class="group picker__title">SELECT DATE FILTER<i class="close-icon fr"></i></h3>	
	<ul class="picker-selection">
		<li class="picker-selection__item">
			<a href="#">This Week<i class="tick-icon fr"></i></a>
		</li>
		<li class="picker-selection__item picker-selection__item--current">
			<a href="#">This Month<i class="tick-icon fr"></i></a>
		</li>
		<li class="picker-selection__item">
			<a href="#">Last Month<i class="tick-icon fr"></i></a>
		</li>
		<li class="picker-selection__item">
			<a href="#">This Year<i class="tick-icon fr"></i></a>
		</li>
		<li class="picker-selection__item">
			<a href="#">Last Year<i class="tick-icon fr"></i></a>
		</li>
	</ul>
</section>